
@{
    ViewBag.Title = "Facturación";
}

@section modal{
<div id="ModalClient" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Seleccionar Cliente</h1>
            @{ Html.RenderAction("RenderClients"); }
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="ModalBranch" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Seleccionar Sucursal</h1>
            @{ Html.RenderAction("RenderBranches"); }
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="ModalProduct" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Seleccionar Producto</h1>
            @{ Html.RenderAction("RenderProducts"); }
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
}

<h1 class="title has-text-centered">Facturación</h1>
<div class="columns is-centered is-vcentered">
    <div class="column is-one-third">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">Cliente</p>
            </div>
            <div class="card-content">
                <fieldset disabled>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="ClientName" class="label is-small">Nombre:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input type="text" id="ClientName" class="input is-info is-static is-small" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="ClientNit" class="label is-small">Nit:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input type="text" id="ClientNit" class="input is-info is-static is-small" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                
                <div class="mt-4 field has-text-centered">
                    <button id="BtnSelectClient" class="button control is-small is-rounded is-link">Buscar Cliente</button>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-one-third">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">Datos de la factura</p>
            </div>
            <div class="card-content">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="InvoiceNumber" class="label is-small">Numero:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input type="number" id="InvoiceNumber" class="input is-info is-small" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="InvoiceSerial" class="label is-small">Serie:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input type="text" id="InvoiceSerial" class="input is-info is-small" />
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="column is-one-third">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">Sucursal</p>
            </div>
            <div class="card-content">
                <fieldset disabled>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="BranchName" class="label is-small">Nombre:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input type="text" id="BranchName" class="input is-info is-static is-small" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="BranchDirection" class="label is-small">Dirección:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input type="text" id="BranchDirection" class="input is-info is-static is-small" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="mt-4 field has-text-centered">
                    <button id="BtnSelectBranch" class="button control is-small is-rounded is-link">Buscar Sucursal</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns is-centered is-vcentered">
    <div class="column is-two-fifths">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">Seleccionar Producto</p>
            </div>
            <div class="card-content">

                <div class="field has-addons">
                    <div class="control is-expanded">
                        <fieldset disabled>
                            <input class="input is-info is-static is-small" type="text" readonly />
                        </fieldset>
                    </div>
                    <div class="control">
                        <button id="BtnSelectProduct" class="button is-info is-small">Buscar</button>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="Quantity" class="label is-small">Cantidad:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="number" id="Quantity" class="input is-info is-small" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field has-text-centered">
                    <button id="BtnAddProduct" class="button control is-small is-rounded is-link">Agregar Producto</button>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-three-fifths">
        <div class="box">
            <div class="table-container">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr class="has-text-centered">
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/invoices.js"></script>    
}